.theme-dark {
    background: black;
}
.theme-blues {
    background: linear-gradient(to bottom right, #1900ff, #351fff);
}
.theme-forest {
    background: linear-gradient(to bottom right, #444444, #00665e);
}
.theme-cherry {
    background: linear-gradient(to bottom right, #444444, #7e0000);
}
.theme-calm {
    background: linear-gradient(to bottom right, #bd1dff, #1ac9ba);
}
.theme-sepia {
    background: linear-gradient(to bottom right, #444444, #6d4114);
}
.theme-glass {
    background: linear-gradient(to bottom right, #444444, #142f6d);
}
.theme-desat {
    background: linear-gradient(to bottom right, #2a2a2a, #2a2a2a);
}


/* marker */
.theme-blues .taskMarker circle {
    stroke: #FFA5BC;
}
.theme-dark .taskMarker circle {
    stroke: #24FF43;
}