.theme-blues {
    background: radial-gradient(#A533FF, #4933FF 50%);
}

/* marker */
.theme-blues .taskMarker circle {
    stroke: #FFA5BC;
}
.theme-dark .taskMarker circle {
    stroke: #24FF43;
}

.theme-btn#blues {
    background: #4933FF;
}
.theme-btn#blues:hover {
    background: #A533FF;
}
.theme-btn#dark {
    background: #000000;
}
.theme-btn#dark:hover {
    background: #333333;
}